.dash_list{
    display: flex;
    min-width: 80%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.dash_head{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-bottom: 20px;
}
.dash_title {
    text-align: center;
    color: #be3144;
}

.dash_table_header{
    font-weight: bold;
    color: #be3144;
}

.dash_table_data {
    padding: 5px;
    text-align: center;
}

.delete_button{
    background: #be3144;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 6px;
}

.delete_button:hover{
    background: #a52c3e;
    cursor: pointer;
    border: 1px solid black;
}

.edit_button{
    background: #be3144;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 6px;
}

.edit_button:hover{
    background: #a52c3e;
    cursor: pointer;
    border: 1px solid black;
}

.dash_table {
    border-collapse: collapse;  /* Para unir as bordas */
}

th, td {
    border: 1px solid #ddd; /* Borda padrão nas células */
    padding: 5px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #be3144;
    color: white;
}

.dash_table tr:hover td {
    border: none;
}
